.home {
  @media @mobile {
    .display-flex(space-between, center);
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .headline {
    border-bottom: 2px dashed @navigation-border;
  }
  
    .headline-text {
    margin-top: 30px;
    margin-bottom: 15px;
  }


  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
      margin: 15px 0;
    }

    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile {
        width: 98%;
        margin: 0 1%;
      }
    }
    

    .img-content {
      width: 48%;
      padding-left: 1%;
      img {
        border-radius: 10px;
        @media @mobile {
          flex-grow: 2;
        }
      }
      @media @mobile {
        width: 98%;
        margin: 1%;
        padding: 0;
        .display-flex(center, center);
        
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile {
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }

      .btn {
        .custom-button(80%, #008080, #FFFFFF);
      }
  }
}// home